button#animeButton {
  --red-color: #ff4343;

  width: 40%;
  border: none;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #fff;
  border: none;
  overflow: hidden;
  transition: all 0.3s;

  p {
    color: var(--black) !important;
    transition: all 0.3s;
  }

  &:hover:not(&.loading) {
    box-shadow: 0 0 20px var(--red-color), 0 0 10px var(--red-color),
      0 0 5px var(--red-color);
    background-color: var(--red-color);
    cursor: pointer;

    p {
      color: #fff !important;
    }
  }

  div {
    position: absolute;
  }

  .left {
    background-image: linear-gradient(to top, transparent, var(--red-color));
    position: absolute;
    height: 100%;
    width: 2px;
    left: 0;
    top: 100%;
    animation: animeL 1s linear infinite;
  }

  .top {
    background-image: linear-gradient(to right, transparent, var(--red-color));
    position: absolute;
    width: 100%;
    height: 2px;
    top: 0;
    left: -100%;
    animation: animeT 1s linear infinite;
    animation-delay: 0.5s;
  }

  .right {
    background-image: linear-gradient(to bottom, transparent, var(--red-color));
    position: absolute;
    height: 100%;
    width: 2px;
    right: 0;
    bottom: 100%;
    animation: animeR 1s linear infinite;
  }

  .bottom {
    background-image: linear-gradient(to left, transparent, var(--red-color));
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    right: -100%;
    animation: animeB 1s linear infinite;
    animation-delay: 0.5s;
  }

  @keyframes animeL {
    100% {
      top: -100%;
    }
  }

  @keyframes animeT {
    100% {
      left: 100%;
    }
  }

  @keyframes animeR {
    100% {
      bottom: -100%;
    }
  }

  @keyframes animeB {
    100% {
      right: 100%;
    }
  }

  .loading-container {
    display: none;
    position: relative;
    width: 2rem;
    aspect-ratio: 1;
    border-radius: 50%;
    background-image: conic-gradient(transparent 20%, var(--red-color));
    animation: loading-anime 1s linear infinite;

    &::before {
      content: "";
      display: block;
      background-color: #fff;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 1.6rem;
      aspect-ratio: 1;
      border-radius: 50%;
    }

    @keyframes loading-anime {
      100% {
        rotate: 360deg;
      }
    }
  }

  &.loading {
    cursor: default;
    transition: none !important;

    p,
    div {
      display: none;
    }

    .loading-container {
      display: block;
    }
  }
}
